<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url("pexels-tima-miroshnichenko-7991579.png")%>) ">
  <div class="container">
    <%# <h1></h1> %>
    <h1><%= @list.name %></h1>
  </div>
</div>
<style>
  ul {
    list-style: none;
  }
</style>

<%# afficher tous les films de cette catégorie %>
<div class="container">
  <div class="cards">
<%# <ul> %>
  <% @list.movies.each do |movie| %>
    <div class="movie" class="d-flex justify-content-between">
      <div>
        <%= movie.title%>
        <p><%= movie.overview%></p>
        <p>Rating : <%= movie.rating%></p>
        <% bookmark = Bookmark.find_by(movie: movie, list: @list)%>
        <div class="comment">
          My comment :
          <p><%= bookmark.comment%></p>
        </div>
        <button class="btn">
        <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
        </button>
      </div>
    </div>
  <% end %>
<%# </ul> %>
</div>
<button class="btn">
  <%= link_to "Add new movie", new_list_bookmark_path(@list)%>
</button>
<button class="btn">
  <%= link_to "Back to index", lists_path %>
</button>
<%# <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"} %>
