<h2>List details</h2>
<p><%= @list.name %></p>
<%# afficher tous les films de cette catégorie %>
<ul>
  <% @list.movies.each do |movie| %>
    <li><%= movie.title%></li>
    <li><%= movie.overview%></li>
    <li><%= movie.rating%></li>
    <%= bookmark = Bookmark.find_by(movie: movie, list: @list)%>
    <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?"} %>
  <% end %>
</ul>

<%= link_to "Assign movie to list", new_list_bookmark_path(@list)%>
<%# <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"} %> %>
